*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    margin: 0;
    padding: 0;
}

/**************************
    TEXT STYLES
**************************/

p{
    padding: 5px 15px;
}

/**************************
    HEADER
**************************/

header{
    background-color: #003153;
    background-image: url('../images/blueprint.png');
    height: 150px;
}

header h1{
    font-family: 'Rock Salt', Georgia, 'Times New Roman', Times, serif;
    color: #FFF;
    margin: 0;
    padding: 37px;
}

/**************************
    MAIN
**************************/

main{
    background-color: #DEB887;
}

/**************************
    NAVIGATION BAR
**************************/

main nav{
    background: linear-gradient(0deg, #DEB887 50%, #575757 100%);
    padding: 10px 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/**************************
    NEWSBAR
**************************/
div#newsbar{
    transform: rotate(-2deg);
    background-color: beige;
    background-image: url('../images/postit.png');
    border: 1px solid #A99B55;
    margin: 20px;
    max-height: 400px;
    max-width: 300px;
    float: left;
    z-index: 1000;
}

div#newsbar ul{
    margin: 0;
    padding: 33px 0 0 0;
}

div#newsbar ul li{
    padding: 10px;
    line-height: .9;
    list-style: none;
    text-align: center;
}

div#newsbar ul li:not(:last-child){
    padding: 10px;
    /*border-bottom: 1px solid blue;*/
    line-height: 1.40;
    text-align: left;
}

/**************************
    MAIN CONTENT - INTRO
**************************/

section{
    padding: 10px 100px;
}

/**************************
    MAIN CONTENT - OPTIONS
**************************/

section#options-content button{
    margin: auto;
}

/**************************
    FOOTER
**************************/